/* 
    Header 
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 350px;
  margin-left: 15px;
  margin-top: 15px;
}

.volver img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.volver a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000;
}

.volver i {
  margin-right: 5px;
}

/*
    Cuerpo para el listado de objetos 
*/

.bodySelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 15vh;
}

.bodyDescarga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.QuitarEstiloEnlace {
  text-decoration: none;
  color: white;
}

.elemento {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495764;
  color: white;
  width: 250px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.TextCenter {
  text-align: center;
  font-weight: bold;
  margin-top: 10vh;
  font-size: 40px;
}
